@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;600;700&display=swap");

body {
  font-family: "M PLUS 1", sans-serif;
  background-image: url("../public/bg/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: #1a1e1c;
}
